* {
    --md-primary-fg-color: #6f1733;
    --md-primary-fg-color--light: #9b2248;
    --md-primary-fg-color--dark: #590822;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;

    --md-accent-fg-color: #ff437e;
    --md-typeset-a-color: #da205b;
    --md-accent-fg-color--transparent: #8501201a;

    --md-code-bg-color: #191919;
    --md-code-fg-color: #b0b0b0;
    
    --md-code-hl-color: #ff5555;
    --md-code-hl-number-color: #bd93f9;
    --md-code-hl-special-color: #8be9fd;
    --md-code-hl-function-color: #50fa7b;
    --md-code-hl-constant-color: #bd93f9;
    --md-code-hl-keyword-color: #ff79c6;
    --md-code-hl-string-color: #f1fa8c;

        
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: #ffffff8a;
    --md-code-hl-punctuation-color: #ffffff8a;
    --md-code-hl-comment-color: #6272a4;
    --md-code-hl-generic-color: #ffffff8a;
    --md-code-hl-variable-color: #ffffff8a;
}

[data-md-color-scheme="dark"] {
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;

    --md-default-fg-color: #ffffffde;
    --md-default-fg-color--light: #ffffff8a;
    --md-default-fg-color--lighter: #ffffff52;
    --md-default-fg-color--lightest: #ffffff12;

    --md-typeset-color: #fff;
    --md-default-bg-color: #222222;


    --md-typeset-table-color: #474747;
    --md-footer-bg-color: #141414;
    --md-footer-bg-color--dark: #1c1c1c;

}

[data-md-color-scheme="light"] {
    --md-footer-fg-color: #474747;
    --md-footer-fg-color--light: #595959;
    --md-footer-fg-color--lighter: #6b6b6b;
    --md-footer-bg-color: #ffffff;
    --md-footer-bg-color--dark: #f0f0f0;
    --md-typeset-table-color: #afafaf;
}